</div>
  <footer class="site-footer">
    <div class="site-footer-container">
      <!-- IF social media icons set -->
      <ul>
        <li><a href="#"><img src="social-media/svg/github-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/twitter-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/quora-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/linkedin-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/facebook-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/dribbble-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/youtube-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/wordpress-logo.svg"></a></li>
        <li><a href="#"><img src="social-media/svg/stack-overflow.svg"></a></li>
      </ul>
      <!-- else if footer copy is set -->
      <p class="small white">&copy; 2016 John Doe</p>
      <!-- end if-else -->
    </div>
  </footer>
</body>
</html>